.my-h {
    height: 420px;
    max-height: 420px;
    max-width: 250px;
    width: 250px;
}

.my-bdr {
    border: 1px solid #71CD14;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 20px;
}

.table-set {
    width: 500px;
}

.about-img {
    height: 350px;
    width: 300px;
    margin-top: 40px;
}

